@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar__s2 {
        width: 100%;
    }
    .categories {
        display: none;
    }
    .sale-image img {
        height: auto;
    }
    .rc-card {
        width: 100%;
    }
    .topic-con p {
        flex-basis: 100%;
    }
    .pop {
        flex-basis: 40%;
    }
    .fotter__one {
        flex-direction: column;
    }
    .fotter__two {
        flex-direction: column;
        align-items: flex-start;
    }
    .rc-con{
        flex-basis: 40%;
    }
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Gabarito',sans-serif; 
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content:space-between ;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
    
}
.navbar__s1__title{
    color: #a435f0   ;
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width:60%;
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
    

}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex ;
    gap: 10px ;
    align-items: center;
    

} 
.categories{
    display: flex;
    padding: 10px;
    border-bottom: solid ☐ black 1px;
    justify-content: space-around;
    flex-wrap:wrap;
}

    .categories p{
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    border: #A435F0 1px solid;
    cursor: pointer;
        
        
}

.sale-image img{
    width: 100%;
    height: 400px;
}
.sale-image{
    border-bottom: black solid 1px;
    flex-wrap:wrap;
    position: relative;

}
.rc-card{
    width: 200px;
    
    
    
}
rc{
    padding: 10px;
}

.rc-card img{
    width:100%;
    height:50%;
    
}
.rc-con{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;

    
}
.topic{
    padding: 10px;
    
}
.topic-con{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px;
}
.topic-con p{
    padding: 10px;
    border: solid black 1px;
    flex-grow: 1;
    flex-basis: 25%;
}
.pop{
    padding: 10px;
}
.pop-con{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fotter{
    padding: 20px;
    background-color: black;
    color: white;
    margin: 10px;
}
.fotter__one{
    display: flex;
    gap: 10px;
    
}
.fotter__one p{
    padding: 10px;
}
.fotter__two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.sale-image__offer{
    position: absolute;
    top:50px;
    
    background-color:transparent;
    color: black;
    left: 20px;
    animation-name: offer;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    
}
.learn{
    position: relative;
    cursor: pointer;
    
}
.learn__pop{
    position: absolute;
    border: black solid 1px;
    background-color: white;
    color: black;
    top: 4git0px;
    display: none;
    padding: 10px;
    
}
.learn:hover .learn__pop{
    display: block;
}
@keyframes offer {
    

    0%{
        transform: scale(0);
        opacity: 0;

    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.categories p:hover{
    background-color: transparent;
    color: #A435F0;
    border: #A435F0 1px solid;
}
@media screen and (max-width:600px) {
    .categories{
        display: none;
    }
    
}